body {
  background-color: lightblue;
}

img {
  height: 400px;
}

table {
  background-color: black;
}

tr {
  background-color: white;
}

.navbar {
  list-style-type: none; /* Removes the bullet points */
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #F1F1F1;
  border-style: solid;
  border-width: 1px;
}

footer {
  text-align: center;
  /* padding: 3px; */
  background-color: DarkSalmon;
  color: white;
}
footer a, footer p {
  display: block;
  margin: 5px 0px; /* 5 = top/bottom.    0 = left/right */
}

nav a { /* For each <a> tag inside an <nav> tag */
  display: block; /* Makes the entire area clickable */
  color: black; /* Links are blue by default */
  padding: 8px 16px; /* TODO: Research padding vs margin*/
  text-decoration: none; /* Remove underline */
}

nav a:hover { /* When hovering over <a> tags that are inside <nav> tags */
  background-color: #555;
  color: white;
}

.current_page {
  background-color: #04AA6D;
  color: white;
}

.light-mode {
  background-color: lightblue;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}